<ion-content>
  <div class="profile-page-box">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <div class="header-toolbar">
          <ion-buttons *ngIf="cancelButton">
            <ion-button (click)="cancelEditUser()" [textContent]="" class="cancel-button">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-buttons>
            <ion-button *ngIf="!cancelButton" (click)="goBack()" [textContent]="" class="cancel-button">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>

          <h1>Profiel</h1>
          <ion-buttons *ngIf="editButton">
            <ion-button (click)="handleEditUserData()" [textContent]="" class="header-edit-profile">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-buttons *ngIf="!editButton">
            <ion-button (click)="validateInput()" [textContent]="" class="header-edit-profile">
              <ion-icon name="save-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
      </ion-toolbar>
    </ion-header>
    <div *ngIf="userData" class="profile-page">
      <div class="profile-image-box">
        <img (click)="removeProfilePicture()" *ngIf="toggleEditView" alt="Remove profile image"
             class="remove-icon" src="../../../../assets/icon/cancel-icon.svg">
        <img (click)="changeProfilePicture()" *ngIf="toggleEditView" alt="Edit profile image"
             class="edit-icon" src="../../../../assets/icon/edit-circle.svg">
        <img alt="profile image" class="profile-image" src="{{ userData?.profilePicture?.url }}">
      </div>
      <p *ngIf="loadingImage && toggleEditView" class="image-upload-message">Afbeelding aan het uploaden...</p>
      <p class="profile-user-title">{{ userData?.firstname + ' ' + userData?.lastname }}</p>

      <div *ngIf="!toggleEditView && userData" class="profile-data">
        <div class="username-box">
          <img alt="Username" src="../../../../assets/icon/user-icon.svg">
          <p>{{ userData?.username }}</p>
        </div>
        <div class="email-box">
          <img alt="Email" src="../../../../assets/icon/email-icon.svg">
          <p>{{ userData?.userEmail }}</p>
        </div>
      </div>

      <div *ngIf="!toggleEditView && !userData" class="profile-data">
        <div class="username-box">
          <p>Gebruikersgegevens worden geladen</p>
        </div>
      </div>

      <div *ngIf="toggleEditView" class="edit-user-fields">
        <div class="input-field">
          <ion-label>Voornaam</ion-label>
          <app-input-field (onInputChange)="firstNameValueChanged($event)" [fieldType]="fieldTypes.text"
                           [name]="'voornaam'" [placeholder]="'Voornaam'"
                           [value]="userData.firstname"></app-input-field>
          <div *ngIf="firstNameErrorMessage" class="error-message">
            <p>{{ firstNameErrorMessage }}</p>
          </div>
        </div>
        <div class="input-field">
          <ion-label>Achternaam</ion-label>
          <app-input-field (onInputChange)="lastNameValueChanged($event)" [fieldType]="fieldTypes.text"
                           [name]="'achternaam'" [placeholder]="'Achternaam'"
                           [value]="userData.lastname"></app-input-field>
          <div *ngIf="lastNameErrorMessage" class="error-message">
            <p>{{ lastNameErrorMessage }}</p>
          </div>
        </div>

        <div class="input-field">
          <ion-label>Gebruikersnaam</ion-label>
          <app-input-field (onInputChange)="userNameValueChanged($event)" [fieldType]="fieldTypes.text"
                           [name]="'gebruikersnaam'" [placeholder]="'Gebruikersnaam'"
                           [value]="userData.username"></app-input-field>
        </div>

        <div *ngIf="userNameErrorMessage" class="error-message">
          <p>{{ userNameErrorMessage }}</p>
        </div>
        <div class="input-field">
          <ion-label>Email adres</ion-label>
          <app-input-field (onInputChange)="emailValueChanged($event)" [fieldType]="fieldTypes.email"
                           [name]="'email'" [placeholder]="'Email'" [value]="userData.userEmail"></app-input-field>
        </div>
        <div *ngIf="emailErrorMessage" class="error-message">
          <p>{{ emailErrorMessage }}</p>
        </div>
        <div>
          <app-button (click)="requestPasswordChange()" [buttonText]="'Wijzig wachtwoord'" [invertColor]="true"
                      class="logout-button"></app-button>
        </div>
      </div>

      <div *ngIf="!toggleEditView">
        <app-button (click)="logout()" [buttonText]="'Log uit'" [invertColor]="true" class="logout-button"></app-button>
      </div>
    </div>
  </div>
</ion-content>
