<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <div class="header-toolbar">
        <ion-buttons>
          <ion-button (click)="goBack()" [textContent]="" class="header-cancel">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <h1>Nieuw product</h1>
        <ion-buttons>
          <ion-button (click)="saveNewProduct()" [textContent]="" class="header-product-add">
            <ion-icon name="save-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
      <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
    </ion-toolbar>
  </ion-header>
  <div class="add-product-box">
    <div *ngIf="errorMessage" class="error-message">
      <p>Er is een onverwachte fout opgetreden.</p>
    </div>

    <div class="input-fields">
      <div class="input-section">
        <ion-label>Naam</ion-label>
        <app-input-field (onInputChange)="nameValueChanged($event)" [fieldType]="fieldTypes.text"
                         [name]="'name'" [placeholder]="'Naam'" [value]="product?.name"></app-input-field>
        <div *ngIf="nameErrorMessage" class="error-message">
          <p>{{ nameErrorMessage }}</p>
        </div>
      </div>
      <div class="input-section">
        <ion-label>Prijs</ion-label>
        <app-input-field (onInputChange)="priceValueChanged($event)" [fieldType]="fieldTypes.text" [name]="'price'"
                         [placeholder]="'Prijs'" [value]="product?.price" inputmode="decimal"></app-input-field>
        <div *ngIf="priceErrorMessage" class="error-message">
          <p>{{ priceErrorMessage }}</p>
        </div>
      </div>
      <div class="input-section">
        <ion-item>
          <ion-label>Selecteer een categorie</ion-label>
          <ion-select interface="popover" [(ngModel)]="selectedCategory" (ionChange)="selectCategory($event)">
            <ion-select-option *ngFor="let category of categoriesEnum | enumToArray | slice:1" [value]="category[0]">
              {{ category[0] }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div class="input-section">
        <ion-label>Beschrijving</ion-label>
        <ion-textarea (ionInput)="descriptionValueChanged($event)" placeholder="Beschrijving" name="description"
                      rows="6" cols="20"
                      value="{{ product?.description }}"></ion-textarea>
        <div *ngIf="descriptionErrorMessage" class="error-message">
          <p>{{ descriptionErrorMessage }}</p>
        </div>
      </div>
      <ion-item class="product-visibility">
        <ion-label (click)="visibility.checked = !visibility.checked">Zichtbaar voor klanten</ion-label>
        <ion-toggle #visibility (ionChange)="changeVisibility($event)" class="button"></ion-toggle>
      </ion-item>

      <div class="product-upload">
        <p *ngIf="loadingImage" class="image-upload-message">Afbeelding aan het uploaden...</p>
        <p *ngIf="!loadingImage && uploadingImageDone" class="image-upload-message">Klik op 'voeg toe' om het product
          toe te voegen</p>

        <p *ngIf="!loadingImage && imageError" class="image-upload-message">Er is een fout opgetreden bij het
          ophalen van de afbeelding</p>
        <app-button (click)="uploadProductImage()" [buttonText]="'Voeg een product foto toe'" [disabled]="loadingImage"
                    [invertColor]="true"></app-button>
        <app-button (click)="removeProductImage()" *ngIf="imageResultData && !loadingImage"
                    [buttonText]="'Verwijder afbeelding'" [disabled]="loadingImage"
                    [invertColor]="true"></app-button>
      </div>
    </div>
  </div>
</ion-content>
