ion-content {
  .error-message {
    font-size: 0.95rem;
    color: var(--color-app-primary);
  }

  .product-header {
    .cancel {
      position: absolute;
      left: 15px;
      top: 0;
      --color: var(--color-app-primary);
      text-transform: none;
      font-size: 1rem;
      font-weight: normal;
      text-decoration: none;
    }

    h2 {
      font-weight: 600;
      font-size: 30px;
      text-align: center;
    }

    .header-product-add {
      position: absolute;
      right: 10px;
      top: 0;
      --color: var(--color-app-primary);
      text-transform: none;
      font-size: 1rem;
      font-weight: normal;
      text-decoration: none;
    }
  }

  .add-product-box {
    margin-top: 70px;
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;

    .title {
      font-size: 1.2rem;
      text-align: center;
    }

    .input-fields {
      .product-upload {
        margin-top: 10px;
        text-align: center;

        .image-upload-message {
          font-size: 1rem;
          font-weight: bold;
        }
      }

      .product-visibility {
        left: -10px;
        margin: 15px auto auto;
      }

      ion-textarea {
        margin-top: 10px;
        background: var(--color-app-shade-white-1);
        border: 1px solid var(--color-app-shade-white-2);
        box-sizing: border-box;
        border-radius: 8px;
        --padding-start: 8px;
      }
    }
  }
}

