<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-progress-bar *ngIf="submitted" type="indeterminate"></ion-progress-bar>
      <div class="login-header">
        <a [routerLink]="onboardingRoute" routerDirection="back">
          <img class="cancel-login" [src]="imageSrc" alt="cancel">
        </a>
        <h2>Log in</h2>
        <a [routerLink]="registerRoute" routerDirection="forward" class="header-register">Registreer</a>
      </div>
    </ion-toolbar>
  </ion-header>
  <div class="login-page">
    <div class="input-fields">
      <app-input-field [name]="'username'" (onInputChange)="userNameValueChanged($event)"
                       [fieldType]="fieldTypes.text" [placeholder]="'Gebruikersnaam'"></app-input-field>
      <div *ngIf="usernameErrorMessage" class="error-message">
        <p>{{usernameErrorMessage}}</p>
      </div>
      <app-input-field [name]="'password'" (onInputChange)="passwordValueChanged($event)"
                       [fieldType]="fieldTypes.password" [value]="passwordInput"
                       [placeholder]="'Wachtwoord'"></app-input-field>

      <div *ngIf="passwordErrorMessage" class="error-message">
        <p>{{passwordErrorMessage}}</p>
      </div>
      <div *ngIf="errorMessage" class="error-message">
        <p>{{errorMessage}}</p>
      </div>
      <div class="button-login">
        <app-button [disabled]="submitted" [invertColor]="true" (click)="validateLogin()"
                    [buttonText]="'Log in'"></app-button>
      </div>
    </div>
  </div>
</ion-content>
