<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-progress-bar *ngIf="submitted" type="indeterminate"></ion-progress-bar>
      <div class="header-toolbar">
        <a [routerLink]="onboardingRoute" routerDirection="back">
          <img [src]="imageSrc" alt="cancel" class="cancel-login">
        </a>
        <h1>Log in</h1>
        <a [routerLink]="registerRoute" class="header-register" routerDirection="forward">Registreer</a>
      </div>
    </ion-toolbar>
  </ion-header>
  <div class="login-page">
    <div class="input-fields">
      <div class="input-section">
        <ion-label>Gebruikersnaam</ion-label>
        <app-input-field (onInputChange)="userNameValueChanged($event)" [fieldType]="fieldTypes.text"
                         [name]="'username'" [placeholder]="'Gebruikersnaam'"></app-input-field>
        <div *ngIf="usernameErrorMessage" class="error-message">
          <p>{{ usernameErrorMessage }}</p>
        </div>
      </div>
      <div class="input-section">
        <ion-label>Wachtwoord</ion-label>
        <app-input-field (onInputChange)="passwordValueChanged($event)" [fieldType]="fieldTypes.password"
                         [name]="'password'" [placeholder]="'Wachtwoord'"
                         [value]="passwordInput"></app-input-field>
      </div>
      <div *ngIf="passwordErrorMessage" class="error-message">
        <p>{{ passwordErrorMessage }}</p>
      </div>
      <div *ngIf="errorMessage" class="error-message">
        <p>{{ errorMessage }}</p>
      </div>

      <p><a [routerLink]="passwordReset">Wachtwoord vergeten?</a></p>
      <div class="button-login">
        <app-button (click)="validateLogin()" [buttonText]="'Log in'" [disabled]="submitted"
                    [invertColor]="true"></app-button>
      </div>
    </div>
  </div>
</ion-content>
