ion-content {
  .register-header {
    .cancel-register {
      position: absolute;
      --background: none;
      margin-top: 13px;
      margin-left: 20px;
    }
    h2 {
      font-weight: 600;
      font-size: 30px;
      text-align: center;
    }
    .header-login {
      position: absolute;
      top: 32px;
      right: 25px;
      text-decoration: none;
    }
  }
  .register-page {
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
    .input-fields {
      margin-top: 80px;
      .button-register {
        text-align: center;
        margin-top: 25px;
      }
    }
  }
}
