<ion-content>
  <div class="register-header">
    <a [routerLink]="onboardingRoute" routerDirection="back">
      <img class="cancel-register" [src]="imageSrc" alt="cancel">
    </a>
    <h2>Registreer</h2>
    <a [routerLink]="loginRoute" routerDirection="forward" class="header-login">Login</a>
  </div>
  <div class="register-page">
    <div class="input-fields">
      <app-input-field [placeholder]="'Voornaam'"></app-input-field>
      <app-input-field [placeholder]="'Achternaam'"></app-input-field>
      <app-input-field [placeholder]="'Adres'"></app-input-field>
      <app-input-field [placeholder]="'Gsm nummer'"></app-input-field>
      <app-input-field [fieldType]="fieldTypes.email" [placeholder]="'Email'"></app-input-field>
      <app-input-field [fieldType]="fieldTypes.password" [placeholder]="'Wachtwoord'"></app-input-field>
      <app-input-field [fieldType]="fieldTypes.password" [placeholder]="'Wachtwoord controle'"></app-input-field>
      <div class="button-register">
        <app-button [invertColor]="true" [buttonText]="'Registeer'"></app-button>
      </div>
    </div>
  </div>
</ion-content>

