<div class="product-item">
  <div class="products-item-box">
    <div (click)="goToDetailPage()" class="product-image-box">
      <ion-thumbnail slot="start">
        <ion-img [src]="product?.image?.url" alt="{{ product.name }}"></ion-img>
      </ion-thumbnail>
    </div>

    <div (click)="goToDetailPage()" class="product-item-box">
      <div class="product-name">
        <p>{{ (product?.name?.length > 30 ? (product?.name.substring(0, 30 - 3) + '...') : product?.name) ?? '--' }}</p>
      </div>
      <div class="product-bottom-row">
        <div>
          <p>{{ product?.price | currency:'EUR' }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="!hideCount" [ngClass]="{'product-count-left': hideUserButtons}" class="product-count-box">
      <div class="product-count">
        <p>{{ product?.amount ?? 0 }}</p>
      </div>
    </div>
    <div *ngIf="!hideUserButtons" class="product-buttons-box">
      <ion-fab-button (click)="countDownProductAmount()" class="button-min" size="small">-</ion-fab-button>
      <ion-fab-button (click)="countUpProductAmount()" class="button-plus" size="small">+</ion-fab-button>
    </div>
    <div *ngIf="showAdminButtons" class="product-admin-buttons-box">
      <ion-fab-button (click)="toggleVisibility(false)" *ngIf="product?.visibility" size="small">
        <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
        <ion-icon *ngIf="!loading" name="eye-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="toggleVisibility(true)" *ngIf="!product?.visibility" size="small">
        <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
        <ion-icon *ngIf="!loading" name="eye-off-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="deleteProduct()" class="button-min" size="small">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
    </div>
  </div>
</div>
