.product-item {
  font-weight: bold;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--color-app-shade-white-2);

  .products-item-box {
    display: flex;

    .product-image-box {
      margin-top: auto;
      margin-bottom: auto;
    }

    .product-item-box {
      margin-left: 10px;
      min-width: 83px;

      .product-name {
        p {
          margin: 0 0 5px;
        }
      }

      .product-bottom-row {
        display: flex;

        p {
          font-size: 0.85rem;
          margin: 0;
        }
      }
    }

    .product-count-box {
      margin: auto;

      .product-count {
        background-color: var(--color-app-shade-white-1);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin-top: -18px;
        margin-left: 15px;

        p {
          width: auto;
          font-weight: normal;
          font-size: 0.9rem;
          text-align: center;
          vertical-align: middle;
          line-height: 14px;
          padding-top: 8px;
          padding-bottom: 8px;
          color: var(--color-app-primary);
        }
      }
    }

    .product-buttons-box {
      margin-left: 20px;
      display: flex;

      .button-min {
        --background: var(--color-app-shade-white-1);
        --color: var(--color-app-primary);
      }

      .button-plus {
        --background: var(--color-app-primary);
        --color: var(--color-app-secondary);
      }
    }
  }
}

.product-item:hover {
  background-color: var(--color-app-shade-white-3);
}

.product-count-left {
  margin-right: 15px!important;
  margin-left: auto!important;
}
