ion-content {
  --background: var(--color-app-primary);

  ion-header {
    ion-toolbar {
      --background: var(--color-app-primary);

      .header-toolbar {
        h1 {
          font-weight: 600;
          font-size: 1.875rem;
          text-align: center;
        }

        .order-complete-button {
          position: absolute;
          right: 10px;
          top: -10px;
          --color: var(--color-app-secondary);
          text-transform: lowercase;
          font-size: 1rem;
          font-weight: normal;
          text-decoration: none;
        }
      }
    }
  }

  .order-complete-content {
    text-align: center;
    color: var(--color-app-secondary);

    h1 {
      font-size: 2.5rem;
      padding-top: 25px;
      padding-bottom: 10px;
    }

    h2 {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
