<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-progress-bar *ngIf="loading && !timeError" type="indeterminate"></ion-progress-bar>
      <div class="summary-header">
        <ion-buttons>
          <ion-button (click)="goBack()" [textContent]="" class="go-back">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <h2>Winkelmand</h2>
        <ion-buttons>
          <ion-button (click)="goToOrderComplete()" [textContent]="" class="header-register-order">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-toolbar>
  </ion-header>

  <div class="summary-page-content">
    <div class="summary-information">
      <p>Totaal prijs: <a>{{ (order?.totalPrice !== 0.0) ? (order?.totalPrice | currency:'EUR') : ' --' }}</a></p>
    </div>
    <div class="summary-content">
      <ion-list class="time-picker">
        <ion-list-header>
          <ion-label>Kies een afhaal tijdstip</ion-label>
        </ion-list-header>
        <p *ngIf="timeError" class="time-error">{{ timeError }}</p>
        <ion-item>
          <ion-label>Tijdstip</ion-label>
          <ion-datetime [(ngModel)]="selectedTime" display-format="HH:mm" max="19:00"
                        min="10:00" placeholder="Kies één tijdstip">
          </ion-datetime>
        </ion-item>
      </ion-list>
      <div class="summary-list">
        <h2>Mijn bestelling</h2>
        <div>
          <app-product-list [hideUserButtons]="true" [products]="order?.products"></app-product-list>
        </div>
      </div>
    </div>
    <div class="optional-field">
      <p class="bold-text">Opmerking (optioneel)</p>
      <ion-textarea (ionInput)="optionalNoticeChanged($event)" placeholder="Opmerking" name="notice"
                    rows="6" cols="20"
      ></ion-textarea>
    </div>
    <div class="order-button">
      <app-button [buttonText]="'Bestel'" [invertColor]="true" (click)="goToOrderComplete()"></app-button>
    </div>
  </div>
</ion-content>
