<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <div class="summary-header">
        <ion-back-button class="go-back" icon="" text="Terug" defaultHref="overview/order/create"></ion-back-button>
        <h2>Winkelmand</h2>
        <ion-buttons>
          <ion-button (click)="goToOrderComplete()" [textContent]="'Bestel'" class="header-register-order">
          </ion-button>
        </ion-buttons>
      </div>
    </ion-toolbar>
  </ion-header>

  <div class="summary-page-content">
    <div class="summary-information">
      <div>
        <p>Totaal prijs: <a>{{ (order?.totalPrice !== 0.0) ? (order?.totalPrice | currency:'EUR') : ' --' }}</a></p>
      </div>
    </div>
    <div class="summary-content">
      <ion-list class="time-picker">
        <ion-list-header>
          <ion-label>
            Kies een afhaal tijdstip
          </ion-label>
        </ion-list-header>
        <p class="time-error">{{ timeError }}</p>
        <ion-item>
          <ion-label>Tijdstip</ion-label>
          <ion-datetime [(ngModel)]="order.pickUpTime" placeholder="Kies één tijdstip" display-format="HH:mm"
                        min="10:00" max="19:00">
          </ion-datetime>
        </ion-item>
      </ion-list>
      <div class="summary-list">
        <h2>Mijn bestelling</h2>
        <div>
          <app-product-list [hideUserButtons]="true" [products]="order?.products"></app-product-list>
        </div>
      </div>
    </div>
  </div>
</ion-content>
