ion-content {
  .summary-header {
    .go-back {
      position: absolute;
      --color: var(--color-app-primary);
      margin-left: 10px;
      text-transform: lowercase;
      font-size: 1rem;
      font-weight: normal;
      text-decoration: none;
    }

    h2 {
      font-weight: 600;
      font-size: 30px;
      text-align: center;
    }

    .header-register-order {
      position: absolute;
      right: 10px;
      top: -45px;
      --color: var(--color-app-primary);
      text-transform: lowercase;
      font-size: 1rem;
      font-weight: normal;
      text-decoration: none;
    }
  }

  .products-list {
    margin-top: 60px;
  }

  .summary-page-content {
    max-width: var(--list-width);
    margin-left: auto;
    margin-right: auto;

    .summary-information {
      display: flex;
      margin-left: 15px;
      margin-right: 15px;
    }

    .summary-content {
      .time-picker {
        .time-error {
          margin-left: 15px;
          color: var(--color-app-primary);
        }
      }

      ion-list {
        ion-list-header {
          padding-left: 15px;
          margin-bottom: 15px;

          ion-label {
            --color: var(--ion-color-step-850, #262626);
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 0;
          }
        }
      }

      .summary-list {
        margin-left: 15px;
        margin-right: 15px;

        h2 {
          margin-bottom: 20px;
        }
      }
    }
  }
}

