ion-content {
  display: inline-block;
  width: 100%;
  h2 {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
  }
  .login-page {
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
    .input-fields {
      margin-top: 150px;
      .button-login {
        text-align: center;
        margin-top: 25px;
      }
    }
  }
}
