<ion-content>
  <div class="login-header">
    <a [routerLink]="onboardingRoute" routerDirection="back">
      <img class="cancel-login" [src]="imageSrc" alt="cancel">
    </a>
    <h2>Log in</h2>
    <a [routerLink]="registerRoute" routerDirection="forward" class="header-register">Registreer</a>
  </div>
  <div class="login-page">
    <div class="input-fields">
      <app-input-field [fieldType]="fieldTypes.email" [placeholder]="'Email'"></app-input-field>
      <app-input-field [fieldType]="fieldTypes.password" [placeholder]="'Wachtwoord'"></app-input-field>
      <div class="button-login">
        <app-button [invertColor]="true" (click)="validateLogin()" [buttonText]="'Log in'"></app-button>
      </div>
    </div>
  </div>
</ion-content>
