ion-content {
  .summary-header {
    .go-back {
      position: absolute;
      --color: var(--color-app-primary);
      margin-left: 10px;
      text-transform: lowercase;
      font-size: 1rem;
      font-weight: normal;
      text-decoration: none;
    }

    h2 {
      font-weight: 600;
      font-size: 30px;
      text-align: center;
    }
  }

  .products-list {
    margin-top: 60px;
  }

  .summary-page-content {
    max-width: var(--list-width);
    margin-left: auto;
    margin-right: auto;

    .summary-information {
      display: flex;
      margin-left: 15px;
      margin-right: 15px;
    }

    .summary-content {

      .summary-list {
        margin-left: 15px;
        margin-right: 15px;

        h2 {
          margin-bottom: 20px;
        }
      }
    }
  }
}

