<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <div class="profile-header">
        <ion-back-button class="back-button" icon="" text="Terug" defaultHref="overview/orders"></ion-back-button>
        <h2>Profiel</h2>
        <ion-buttons>
          <ion-button [textContent]="'Bewerk'" class="header-edit-profile">
          </ion-button>
        </ion-buttons>
      </div>
    </ion-toolbar>
  </ion-header>
  <div class="">
    <ion-button (click)="logout()">Log uit</ion-button>
  </div>
</ion-content>
