ion-content {
  .title-box {
    text-align: center;
  }
  .list-title {
    max-width: 360px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  h2 {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
  }
}
