ion-content {
  .order-header {
    h2 {
      font-weight: 600;
      font-size: 30px;
      text-align: center;
    }

    .header-create-product {
      position: absolute;
      right: 10px;
      top: -45px;
      --color: var(--color-app-primary);
    }
  }

  .products-list {
    margin-top: 60px;

    .search-field {
      max-width: 430px;
      margin: auto auto 15px;
    }

    .products-loading {
      text-align: center;
      margin: auto;
    }
  }
}

