ion-content {
  ion-header {
    ion-toolbar {
      .header-toolbar {
        h1 {
          font-weight: 600;
          font-size: 1.875rem;
          text-align: center;
        }

        .header-create-product {
          position: absolute;
          right: 10px;
          top: -45px;
          --color: var(--color-app-primary);
        }
      }
    }
  }

  .products-list {
    margin-top: 60px;

    .search-field {
      max-width: 430px;
      margin: auto auto 15px;
    }

    .products-loading {
      text-align: center;
      margin: auto;
    }
  }
}

