<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <div class="order-header">
        <h2>Producten</h2>
        <ion-buttons>
          <ion-button (click)="goToCreateOrder()" class="header-register-order">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-toolbar>
  </ion-header>
  <div class="products-list">
    <div *ngIf="message" class="products-loading">
      <p>{{ message }}</p>
    </div>
    <div class="search-field">
      <ion-searchbar [(ngModel)]="filterTerm" animated="true" placeholder="Zoek producten"></ion-searchbar>
    </div>
    <app-product-list #productsList (changedProductsList)="updatedProductsList(productsList)" (removedProduct)="getProducts()"
                      *ngIf="!loading" [filterTerm]="filterTerm" [hideCount]="true" [hideUserButtons]="true"
                      [products]="products" [showAdminButtons]="true"></app-product-list>
    <div *ngIf="loading" class="products-loading">
      <p>Producten laden...</p>
    </div>
    <div *ngIf="products?.length === 0 && !loading" class="products-loading">
      <p>Geen producten gevonden</p>
    </div>
  </div>
</ion-content>
