<div class="customers-list-box">
  <div class="customers-list">
    <div *ngIf="customers">
      <app-customer-item #customersList (changedCustomer)="changedCustomers(customersList)"
                         *ngFor="let customer of customers | datafilter:filterTerm"
                         [customer]="customer"></app-customer-item>
    </div>
    <div *ngIf="(customers | datafilter:filterTerm)?.length === 0" class="no-customers">
      <p>Geen zoekresultaten voor {{ filterTerm }}</p>
    </div>
  </div>
</div>
