<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <div class="product-header">
        <ion-back-button class="go-back"
                         defaultHref="{{ (authenticationService.getRole() === role.admin) ? 'admin/products' : 'overview/orders/create' }}"
                         icon="" text="Terug"></ion-back-button>
        <h2>{{ (product?.name) ? product?.name : '' }}</h2>
      </div>
    </ion-toolbar>
  </ion-header>

  <div class="product-page-content">
    <div class="product-information">
      <p *ngIf="loading">Product gegevens laden...</p>
      <p *ngIf="error && !product">Kon de product gegevens niet laden.</p>
      <div *ngIf="!loading && product">
        <div class="product-image">
          <img src="{{ product?.image?.url }}" alt="{{ product?.image?.name }}">
        </div>
        <p>Prijs/st: <a>{{ product?.price | currency:'EUR' }}</a></p>
        <b>Beschrijving</b>
        <p>{{ product?.description }}</p>
      </div>
    </div>
  </div>
</ion-content>
