<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-progress-bar *ngIf="submitted" type="indeterminate"></ion-progress-bar>
      <div class="header-toolbar">
        <a [routerLink]="onboardingRoute" routerDirection="back">
          <img [src]="imageSrc" alt="cancel" class="cancel-reset">
        </a>
        <h1>Wachtwoord vergeten?</h1>
        <a [routerLink]="loginRoute" class="header-login" routerDirection="forward">Log in</a>
      </div>
    </ion-toolbar>
  </ion-header>
  <div class="login-page">
    <div class="input-fields">
      <ion-label>Email adres</ion-label>
      <app-input-field placeholder="Email" [fieldType]="fieldTypes.email"
                       (onInputChange)="emailValueChanged($event)"></app-input-field>
      <div *ngIf="emailErrorMessage" class="error-message">
        <p>{{ emailErrorMessage }}</p>
      </div>
      <div class="button-reset">
        <app-button [invertColor]="true" (click)="validateEmail()" [buttonText]="'Reset aanvragen'"
                    [disabled]="submitted"></app-button>
      </div>
    </div>
  </div>
</ion-content>
