<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-progress-bar *ngIf="submitted" type="indeterminate"></ion-progress-bar>
      <div class="login-header">
        <a [routerLink]="onboardingRoute" routerDirection="back">
          <img [src]="imageSrc" alt="cancel" class="cancel-login">
        </a>
        <h2>Log in</h2>
        <a [routerLink]="loginRoute" class="header-register" routerDirection="forward">Log in</a>
      </div>
    </ion-toolbar>
  </ion-header>
  <app-input-field placeholder="Email" [fieldType]="fieldTypes.email"
                   (onInputChange)="emailValueChanged($event)"></app-input-field>
  <div *ngIf="emailErrorMessage" class="error-message">
    <p>{{ emailErrorMessage }}</p>
  </div>
  <app-button [invertColor]="true" (click)="validateEmail()" [buttonText]="'Vraag reset aan'"
              [disabled]="submitted"></app-button>
</ion-content>
