.products-list-box {
  margin: auto;

  .products-list {
    width: auto;
    margin: auto;
    max-width: var(--list-width);
    padding-left: 10px;
    padding-right: 10px;
  }

  .no-products {
    text-align: center;
    margin: auto;
  }
}
