<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="getOrders($event)" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="title-box">
    <h2>Bestellingen</h2>
  </div>
  <div class="orders-list">
    <div class="filter-options">
      <ion-item>
        <ion-label>Sorteer op datum</ion-label>
        <ion-select interface="popover" [(ngModel)]="dateFilter" (ionChange)="sortOnDate($event)">
          <ion-select-option *ngFor="let date of dateFilterOptions | enumToArray"
                             [value]="date[0]">{{ date[0] }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Sorteer op status</ion-label>
        <ion-select interface="popover" [(ngModel)]="filterStatus" (ionChange)="sortOnStatus($event)">
          <ion-select-option *ngFor="let status of orderFilterStatus | enumToArray"
                             [value]="status[0]">{{ status[0] }}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <app-order-list *ngIf="orders?.results?.length > 0 && !loading" [orders]="orders"></app-order-list>
    <div *ngIf="loading" class="orders-loading">
      <p>Bestellingen laden...</p>
    </div>
    <div *ngIf="orders?.results?.length === 0 && !loading" class="no-orders">
      <p>Geen bestellingen gevonden</p>
    </div>
    <div *ngIf="errorMessage && !loading" class="no-orders">
      <p>Kon geen gegevens ophalen.</p>
    </div>
  </div>
</ion-content>
