ion-content {
  .order-header {
    .cancel {
      position: absolute;
      left: 15px;
      top: 0;
      --color: var(--color-app-primary);
      text-transform: lowercase;
      font-size: 1rem;
      font-weight: normal;
      text-decoration: none;
    }

    h2 {
      font-weight: 600;
      font-size: 30px;
      text-align: center;
    }

    .header-order-summary {
      position: absolute;
      right: 10px;
      top: -45px;
      --color: var(--color-app-primary);
      text-transform: lowercase;
      font-size: 1rem;
      font-weight: normal;
      text-decoration: none;
    }
  }

  .products-list {
    margin-top: 60px;

    .search-field {
      max-width: 430px;
      margin: auto auto 15px;
    }

    .products-loading {
      text-align: center;
      margin: auto;
    }
  }
}

