<ion-content [fullscreen]="true">
  <div class="order-header">
    <ion-buttons>
      <ion-back-button class="cancel-order" icon="" text="Annuleer" defaultHref="overview/orders"></ion-back-button>
    </ion-buttons>
    <h2>Bestel</h2>
    <ion-buttons>
      <ion-button [routerLink]="getOrderSummaryUrl()" [textContent]="'Winkelmand'" class="header-register-order"></ion-button>
    </ion-buttons>
  </div>
  <div class="products-list">
  <app-product-list></app-product-list>
  </div>
</ion-content>
