ion-content {
  ion-header {
    ion-toolbar {

      .settings-header {
        .cancel {
          position: absolute;
          left: 15px;
          top: 0;
          --color: var(--color-app-primary);
        }

        h2 {
          font-weight: 600;
          font-size: 30px;
          text-align: center;
        }

        .header-save-settings {
          position: absolute;
          right: 12px;
          top: -45px;
          --color: var(--color-app-primary);
        }
      }
    }
  }
}
