<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-progress-bar *ngIf="loadingPutRequest" type="indeterminate"></ion-progress-bar>
      <div class="header-toolbar">
        <ion-buttons>
          <ion-button *ngIf="!edit" (click)="goBack()" [textContent]="" class="header-cancel">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
          <ion-button *ngIf="edit" (click)="toggleEdit()" [textContent]="" class="header-cancel">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <h1>Instellingen</h1>
        <ion-buttons>
          <ion-button *ngIf="!edit" (click)="toggleEdit()" [textContent]="" class="header-save-settings">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button *ngIf="edit" (click)="saveSettings()" [textContent]="" class="header-save-settings">
            <ion-icon name="save-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-toolbar>
  </ion-header>

  <div class="settings-box">
    <div class="input-fields" *ngIf="loading && !error">
      <p>Instellingen ophalen...</p>
    </div>
    <div *ngIf="error" class="error-message">
      <p>Er is een onverwachte fout opgetreden.</p>
    </div>

    <div class="input-fields" *ngIf="!edit && !loading">
      <p>Openingsuur: {{ settings?.startHour?.iso | date:'HH:mm' }}</p>
      <p>Sluitingsuur: {{ settings?.closingHour?.iso | date:'HH:mm' }}</p>
      <p>Status:
        <a>{{ (settings?.status) ? 'De klant kan bestellen online.' : 'De klant kan niet bestellen online.' }}</a></p>
      <p>Laatst gewijzigd: {{ settings?.updatedAt | date:'dd-MM-YYYY HH:mm' }}</p>
    </div>

    <div class="input-fields" *ngIf="edit && !loading">
      <ion-item>
        <ion-label>Openingsuur</ion-label>
        <ion-datetime display-format="HH:mm" (ionChange)="changeStartHour($event)" [value]="settings?.startHour.iso"
                      placeholder="Kies een openingsuur">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Sluitingsuur</ion-label>
        <ion-datetime display-format="HH:mm" (ionChange)="changeClosingHour($event)" [value]="settings?.closingHour.iso"
                      placeholder="Kies een sluitingsuur">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label (click)="status.checked = !status.checked">Klant kan bestellen?</ion-label>
        <ion-toggle #status checked="{{ settings?.status }}"
                    (ionChange)="changeStoreStatus($event)"></ion-toggle>
      </ion-item>
      <div class="settings-save-button">
      <app-button (click)="saveSettings()" [buttonText]="'Sla instelingen op'" [invertColor]="true"></app-button>
      </div>
    </div>
  </div>
</ion-content>
