<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <div class="settings-header">
        <ion-buttons>
          <ion-button (click)="goBack()" [textContent]="" class="cancel">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <h2>Instellingen</h2>
        <ion-buttons>
          <ion-button (click)="saveSettings()" [textContent]="" class="header-save-settings">
            <ion-icon name="save-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
      <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
    </ion-toolbar>
  </ion-header>

<div>
  
</div>
</ion-content>
