ion-content {
  ion-header {
    ion-toolbar {
      .header-toolbar {
        .header-cancel {
          position: absolute;
          top: 4px;
          left: 15px;
          --color: var(--color-app-primary);
        }

        h1 {
          font-weight: 600;
          font-size: 1.875rem;
          text-align: center;
        }

        .header-save-settings {
          position: absolute;
          right: 12px;
          top: -45px;
          --color: var(--color-app-primary);
        }
      }
    }
  }

  .error-message {
    font-size: .95rem;
    color: var(--color-app-primary);
  }

  .settings-box {
    max-width: 430px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;

    .input-fields {
      margin-left: 10px;
      margin-right: 10px;

      .settings-save-button {
        margin-top: 15px;
        text-align: center;
      }
    }
  }
}

