ion-content {
  .title-box {
    text-align: center;

    p {
      margin-top: 20px;
    }
  }

  .list-title {
    max-width: var(--list-width);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 18px;
  }

  .orders-list {
    max-width: 430px;
    margin: 40px auto auto;

    .filter-options {
      margin-bottom: 30px;
    }

    h2 {
      font-weight: 600;
      font-size: 30px;
      text-align: center;
    }

    .no-orders {
      text-align: center;
      margin: auto;
    }

    .orders-loading {
      text-align: center;
      margin: auto;
    }
  }
}
